/test_ignore/
/E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\feature_data/

# draft folder
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\draft_code

# Path models 
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\models\

# Test dataset
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\dataset\test\