/test_ignore/
/E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\feature_data/

# draft folder
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\draft_code

# Path models 
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\models\

# datasets
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\datasets\

# Log file
E:\Courses\Recognition\Final_Project\Pattern_Recognition_Final_Project\log_filename.log

# __pycache__
*\__pycache__